.main {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100vw;
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #444444;
    background-color: #F0F4F3;
    min-height: 100vh;
    height: 100%;
    padding-bottom: 200px;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 50%;
    margin-top: 120px;
    margin-bottom: 48px;
    box-shadow: 0px 0px 5px 3px #E8EBEA;
}

.header {
    width: 100%;
}

.blogTitle {
    display: flex;
    font-size: 1.3rem;
    font-weight: bold;
    align-items: center;
    background-color: #444444;
    width: 100%;
    color: #FFFFFF;
    height: 48px;
    padding-left: 15px;
    border-top: 3px solid #34B792;
}

.h1 {
    font-size: 1.4rem;
    margin-top: 3px;
}

.faBars {
    margin-right: 10px;
}

.blog {
    font-size: 1.3rem;
    background-color: #FFFFFF;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid #E2E2E2;
}

.topUi {
    display: flex;
    justify-content: space-between;
}

.user {
    display: flex;
}

.faUser {
    margin-right: 10px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}

.content {
    margin-top: 20px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.underUi {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toDetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0074E0;
}

.faClock {
    margin-right: 10px;
}

.faArrowRight {
    margin-right: 10px;
}

.successMassage {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #34B792;
    width: 100%;
    background-color: #FFFFFF;
    height: 68px;
    border-bottom: 1px solid #E2E2E2;
}

.failureMassage {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF0000;
    width: 100%;
    background-color: #FFFFFF;
    height: 68px;
    border-bottom: 1px solid #E2E2E2;
}

.successWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #34B792;
    border-radius: 2px;
}

.failureWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #FF0000;
    border-radius: 2px;
}

.faCircleExclamation {
    margin-right: 5px;
}

.resultMassage {
    margin-left: 5px;
}

.welcome {
    display: flex;
    font-weight: bold;
    font-size: 1.0rem;
    color: #34B792;
}

.welcomeMessage {
    font-size: 1.8rem;
}

.recomend {
    display: flex;
    font-weight: bold;
    margin-top: 20px;
    font-size: 0.8rem;
    color: #34B792;
}

.dbError {
    display: flex;
    font-weight: bold;
    font-size: 1.0rem;
    color: #FF0000;
}

.dbSub {
    display: flex;
    font-weight: bold;
    margin-top: 20px;
    font-size: 0.8rem;
    color: #FF0000;
}

.fablog {
    margin-right: 5px;
}

.faCircleInfo {
    margin-right: 5px;
}

.infoMessage {
    margin-top: 20px;
    font-size: 1.2rem;
}

@media screen and (max-width: 1024px) {
    .main {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100vw;
        font-size: 62.5%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #444444;
        background-color: #F0F4F3;
        min-height: 100vh;
        height: 100%;
    }
    
    .container {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 38px;
        box-shadow: 0px 0px 5px 3px #E8EBEA;
    }
}

@media screen and (max-width: 768px) {

    .main {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100vw;
        font-size: 62.5%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #444444;
        background-color: #F0F4F3;
        min-height: 100vh;
        height: 100%;
    }
    
    .container {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 38px;
        box-shadow: 0px 0px 5px 3px #E8EBEA;
    }

    .detailMessage {
        font-size: 0px;
    }

    .detailMessage::before {
        font-size: 1.3rem;
        content:'詳細';
    }

}